body{
    position: relative;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/qAgrZII/plexus-fantasy-abstract-technology-and-engineering-background-with-original-organic-motion_hr3f0zgkx_thumbnail-full01.png');
   

}
header{
    border-radius: 5px;
}
header h1{
    font-family: monospace;
    color: white;
}


.carousel{
    margin-top:1%;
}
footer {
    padding: 0.5em 0;
    color:white;
    border-radius:5px;
    background-color: #2F4F4F;
    text-align:center;
    position: relative;
    bottom:0%;
    width: 100%;    
}

section{
    background-color: white;
    width: 1000px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: auto;
    margin-left: auto;
    min-height: 600px;
}

.viasup-color{
    background-color: #2F4F4F;
}
.jumbotron{
    margin-top: 2%;
    border-radius: 5px;
}
.carousel-inner{
    height: 50%;
}
.carousel-item h5{
    color:white;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.carousel-control-next{
    opacity: 0.8;

}

.jumbotron-size{
    width:  600px;
    padding-top: 100px;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
.actuH1{
    text-align: center;
}

label{
    padding-left: 5px;
}

#titreInfo{
    color:white;
}


